body {
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background: rgb(11, 22, 34)!important;
    background: linear-gradient(rgb(0, 40, 83) 100%, #001870 100%, rgb(0, 0, 0) 98%)!important;
}

.bg-principal {
    background-color: #001870;
}

.text-principal {
    color: #001870;
}

.bg-secundario {
    background-color: #febf00;
}

.text-secundario {
    color: #febf00;
}

.login-box {
    width: 450px;
    margin-top: -100px!important;
    height: auto;
    box-shadow: -5px 5px 15px 5px black;
    box-shadow: 0px 0px 50px 5px #001870;
}

.card {
    margin-bottom: 0px;
    background: #febf00;
}

.login-card-body {
    color: black;
    background: transparent!important;
    opacity: 0.9;
}

.input-group-text {
    color: black!important;
}

.login-logo {
    margin-bottom: 0px;
    background: #febf00;
    opacity: 0.9;
}

.login-logo a {
    color: black;
}

.login-logo img {
    height: 150px;
    width: 90%;
    max-width: 100%;
}

@media (max-width:500px) {
    .login-box {
        width: 95%;
    }
}